/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* mix */
header {
  font-size: 14px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: black;
}

.container {
  width: 70%;
  margin: auto;
}

/* pulsanti */
.btn {
  padding: 8px 12px;
  border-radius: 5px;
}

.btn.orange {
  background-color: #fe775a;
  color: white;
}

.btn.orange-border {
  background-color: white;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.btn.big {
  text-decoration: none;
  padding: 20px 28px;
}

/* prima riga nav */
.bg-1 {
  background-color: #f4f9fd;
}

.nav-top-left, .nav-top-right {
  display: inline-block;
  width: calc((100% - 5px) / 2);
  padding: 25px 0;
}

.nav-top-left a {
  margin: 0 20px;
}

.nav-top-left li:first-child a {
  margin-left: 0;
}

#border-right {
  border-right: 1px solid black;
}

.nav-top-right {
  text-align: right;
}

.nav-top-right a {
  margin-left: 20px;
}

#blue-icon {
  color: #00a4bd;
}
/* fine prima riga nav */
/* seconda riga nav */
.nav-bottom {
  height: 70px;
  line-height: 70px;
}

.nav-bottom-left {
  float: left;
  height: 100%;
}

.nav-bottom-left img {
  vertical-align: middle;
}

.nav-bottom-right {
  float: right;
}

.nav-bottom a {
  margin-left: 20px;
}

.nav-bottom i {
  margin-left: 15px;
}
/* fine seconda riga nav */
/* jumbotron */
.bg-2 {
  background-color: #fff4ef;
  position: relative;
}

img.banner {
  width: 85%;
  margin-left: 15%;
}

.jumbotron-text {
  position: absolute;
  left: 15%;
  top: 70px;
  width: 37%;
}

h1 {
  font-size: 38px;
}

.jumbotron-text p {
  font-size: 14px;
  line-height: 170%;
  margin: 20px 0 50px;
}

small {
  display: block;
  margin-top: 50px;
}

.color-row {
  height: 80px;
  width: 100%;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  background-color: #afebe4;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* fine jumbotron */
